@import "../../../styles/_variables.scss";

.container {
  :global(.ant-input-affix-wrapper) {
    height: 46px;
    border: 1px solid $lightblue;
    border-radius: 0%;
    padding: 11px 16px;
  }

  img {
    cursor: pointer;
  }

  input {
    padding-left: 12px !important;
  }
}
